# Big Mart Sales

#### Contents
1. Problem statement
2. Hypothesis definition
3. Data Exploration & hypothesis testing
4. Data Cleaning
5. Feature Engineering
6. Model Building

### Problem statement
The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store have been defined. The aim is to build a predictive model and find out the sales of each product at a particular store.

Using this model, BigMart will try to understand the properties of products and stores which play a key role in increasing sales.

### Hypothesis
#### Store level hypothesis 
1. Store Capacity: Stores which are very big in size should have higher sales as they act like one-stop-shops and people would prefer getting everything from one place
2. City type: Stores located in urban or Tier 1 cities should have higher sales because of the higher income levels of people there.
3. Store type : Stores which are very big in size should have higher sales as they act like one-stop-shops and people would prefer getting everything from one place
4. Year of establishment: people are attracted to newer stores do to the assumption that there may be newer products
#### product level hypothesis
1. Display Area: Products which are given bigger shelves in the store are likely to catch attention first and sell more.
2. Utility: Daily use products should have a higher tendency to sell as compared to the specific use products.
3. Price of item. Cheaper items are sold more than the more expensive items.

### Data Exploration

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [7]:
test.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.75,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.30,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.60,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store

In [8]:
train.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [9]:
print("Train shape {} \n Test {}" .format(train.shape, test.shape))

Train shape (8523, 12)
 Test (5681, 11)